<p>
<%= link_to "Back", project_items_path %> |
<%= link_to "New Item", new_project_item_path if User.current.allowed_to?(:create_items, @project) %> |
<%= link_to "Add Custom Field", new_project_items_custom_field_path if User.current.allowed_to?(:create_custom_fields, @project) %> |
<%= link_to "Delete Field", project_items_custom_field_path(:id => @customfield.id), method: :delete, data: { confirm: 'Are you sure?' } if User.current.allowed_to?(:create_custom_fields, @project) %>
</p>

<h2>Custom field properties</h2>

<table>
<%= form_for :customfield, url: project_items_custom_field_path(@project, @customfield), method: :put do |f| %>
    <tr><td><%= f.label "Name:" %> </td><td><%= f.text_field :name, :required => true %></td></tr>
    <tr><td><%= f.label "Field format:" %></td> <td><%= f.select :field_format, [["Boolean", "boolean"],
                                                               ["Date", "date"],
                                                               ["Float", "float"],
                                                               ["Integer", "integer"],
                                                               ["List", "list"],
                                                               ["Text", "text"],
                                                               ["String", "string"]], :required => true %></td></tr>
    <tr><td><%= f.label "Default value:" %> </td><td><%= f.text_field :default_value %></td></tr>
    <tr><td><%= f.submit 'Edit Custom Field'%></td></tr>
<% end %>
</table>
