<h2>Attachable Items</h2>

<%= link_to "New Item", new_project_item_path %>

<% if @items.blank? %>
  <p>There are not any items currently in the system.</p>
<% else %>
  <p>These are the current items in our system</p>
  <% @items.each do |c| %>
    <li>
      <%= c.unique_name %>
      <%= link_to "Edit", edit_project_item_path(:id => c.id), method: :get %> |
      <%= link_to "Delete", project_item_path(:id => c.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
<% end %>


<br><br>
<h2>Custom Fields</h2>

<%= link_to "Add Custom Field", new_project_items_custom_field_path %>

<% if @project_custom_fields.blank? %>
  <p>There are not any custom fields currently in the system.</p>
<% else %>
  <p>These are the current custom fields in our system</p>
  <% @project_custom_fields.each do |c| %>
    <li>
      <%= c.name %>
      <%= link_to "Edit",  edit_project_items_custom_field_path(:id => c.id), method: :get %> |
      <%= link_to "Delete", project_items_custom_field_path(:id => c.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
<% end %>
